/* General Styles */
:root {
  font-size: 18px;
  font-family: "BN6FontBold", sans-serif;
  --primary: #213870;
  --secondary: #e9dfcb;
}

ul,
li,
a {
  text-decoration: none;
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(./images/background_pattern.svg);
  margin: auto;
  background-attachment: fixed;
}
/* General Styles */

/* Header */
.container {
  position: fixed;
  position: absolute;
  background: url(./images/navbar_pattern.svg);
  image-rendering: pixelated;
  height: auto;
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 1rem;
  margin: auto;
}

nav {
  width: auto;
}

.logo {
  width: 50px;
  height: auto;
  margin: 0 1rem;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  width: auto;
}

.navbar a {
  color: var(--primary);
}

.navbar li {
  margin: 0 1rem;
}

.navbar_icon {
  width: 50px;
  height: auto;
}
/* Header */

/* Article */
.article_container {
  background: url(./images/navbar_pattern.svg);
  margin-top: 1rem;
  display: grid;
  place-items: center;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
  top: 6em;
  border-radius: 2rem;
}

.wrapper {
  display: grid;
  gap: 1rem;
  max-width: 1200px;
  justify-content: center;
  margin-bottom: 1rem;
  margin: auto;
  width: auto;
}

.wrapper h1 {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1rem;
}

.tabs_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

[role="tablist"] {
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

[role="tab"] {
  background-color: var(--primary);
  border: 0.4rem outset var(--secondary);
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--secondary);
  font-family: inherit;
  padding: 0.2rem 0.5rem;
  line-height: 0.8;
  transition: all 150ms ease-in-out;
}

[role="tab"]:is(:hover, :focus) {
  background-color: var(--secondary);
  color: var(--primary);
}

[role="tab"][aria-selected="true"] {
  background-color: var(--secondary);
  color: var(--primary);
  border: 0.4rem inset var(--secondary);
}

[role="tab_panel"] {
  background: url(./images/navbar_pattern.svg);
  border: 0.4rem inset var(--secondary);
  padding: 2rem;
  margin: 1rem;
  height: auto;
}

[role="tab_panel"] p {
  font-size: 1.5rem;
}

[role="tab_panel"] h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.btn:is(:active, :link, :visited) {
  display: inline-block;
  background-color: var(--primary);
  color: var(--secondary);
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 7px solid transparent;
  transition: all 300ms ease;
}

.btn:is(:hover, :focus) {
  border: var(--primary);
  background: url(./images/navbar_pattern.svg);
  color: var(--primary);
  outline: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: 7px solid transparent;
}
/* Article */

/* About me */
.article_container h1 {
  text-decoration: underline;
  margin-top: 0.5em;
}

.article_container h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.account_icon {
  margin-top: 0.5em;
  height: 50px;
  width: auto;
}

.about_me {
  font-size: 1.5rem;
  line-height: 1.2em;
  padding: 2rem;
  margin: 1rem;
  border: 0.4rem inset var(--secondary);
}
/* About me */

/* Contact me */
.contact_me {
  font-size: 1.5rem;
}

.icon_container {
  margin: 0.5em;
}

.icon_container a {
  margin: 0.5em;
}
/* Contact me */

/* footer */
.footer {
  display: grid;
  width: 90%;
  margin: auto;
  position: relative;
  top: 7em;
  border-radius: 2rem;
}


footer::before {
  width: 100%;
  height: 5px;
  display: block;
  content: "";
  border-radius: 1000px;
  background: var(--primary);
}
/* footer */